{% extends 'root.html' %}
{% load static %}
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  {% block content %}

  <style>

    .content-error h1 {
      font-size: 35px;
      color: #444;
    text-transform:uppercase;
  }
  .content-error .counter {
      color: #006DF0;
  }
  .content-error {
      text-align: center;
      margin: 0px 20px;
  }
  .content-error p {
      font-size: 14px;
      color: #444;
      line-height: 24px;
  }
  .content-error a {
      display: inline-block;
      margin: 0px 5px;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      padding: 10px 30px;
      border-radius: 3px;
      background: #006DF0;
      transition: all .4s ease 0s;
  }

  .content-error .hpanel {
    text-align: left;
  }
  .content-error #loginForm a{
    padding: 6px 0px;
    margin: 5px 0px;
    border:none;
  }


  .content-error a{
    margin:5px 5px;
    display:inline-block;
  }
  </style>


  {% include 'navbar.html' %}
    <div class="page-header events-page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <header class="entry-header">
                        <h1 class="entry-title">Login/Register</h1>
                    </header>
                </div>
            </div>
        </div>
    </div>

  
	<div class="error-pagewrap" >
		<div class="error-page-int">
			<div class="text-center" style="margin-bottom: 30px; padding: 20px;">
        <a style="margin-right: 1.5rem"><button class="btn loginbtn gradient-bg">Login</button></a>
        <a style="margin-left: 1.5rem"><button class="btn registerbtn gradient-bg">Register</button></a>
      </div>


      <div class="row justify-content-md-center align-items-center">
        <!-- Login Panel -->

        <div class="card col-lg-4 shadow p-4">
          <div class="content-error loginpanel-1">
            <div class="hpanel">
              <div class="panel-body">
                <div class="container">
                  
                <form action="{% url 'login' %}" method="POST" id="loginForm">
                  {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" for="username">Email</label>
                        <input type="email" placeholder="" title="Please enter you username" required name="email" id="email" class="form-control">
                        {% comment %} <span class="help-block small">Your email</span> {% endcomment %}
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" title="Please enter your password" required name="password" id="password" class="form-control">
                        {% comment %} <span class="help-block small">Your strong password</span> {% endcomment %}
                    </div>
                    <div class="">
                        <input type="checkbox" id="rememer" style="margin-right: 5px" value=""/> <label for="dog">Remember Me</label>
                    </div>
                    <div style="padding: 10px;"></div>
                    <button class="btn gradient-bg loginbtn">Login</button>
                    {% comment %} <a class="btn btn-default btn-block" href="#">Register</a> {% endcomment %}
                    <div></div>
                </form>
              </div>
              </div>
            </div>
          </div>


          <div class="content-error loginpanel-2">
            <div class="hpanel">
              <div class="panel-body">
                <div class="container">
                <form action="{% url 'register' %}" method="POST" id="loginForm">
                  {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" for="username">First Name</label>
                        <input type="text" placeholder="" title="Please enter you username" required="" value="" name="{{form.first_name.name}}" id="{{form.first_name.name}}" class="form-control">
                        {% comment %} <span class="help-block small">Your email</span> {% endcomment %}
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="username">Last Name</label>
                        <input type="text" placeholder="" title="Please enter you username" required="" value="" name="{{form.last_name.name}}" id="{{form.last_name.name}}" class="form-control">
                        {% comment %} <span class="help-block small">Your email</span> {% endcomment %}
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="username">Email</label>
                        <input type="text" placeholder="" title="Please enter you username" required="" value="" name="email" id="email" class="form-control">
                        {% comment %} <span class="help-block small">Your email</span> {% endcomment %}
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input type="password" title="Please enter your password" placeholder="" required="" value="" name="{{form.password.name}}" id="{{form.password.name}}" class="form-control">
                        {% comment %} <span class="help-block small">Your strong password</span> {% endcomment %}
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Confirm Password</label>
                        <input type="password" title="Please enter your password" placeholder="" required="" value="" name="{{form.confirm_password.name}}" id="{{form.confirm_password.name}}" class="form-control">
                        {% comment %} <span class="help-block small">Your strong password</span> {% endcomment %}
                    </div>
                    <div class="">
                        <input type="checkbox" id="rememer" style="margin-right: 5px" value=""/> <label for="dog">Remember Me</label>
                    </div>
                    <div style="padding: 10px;"></div>
                    <button class="btn gradient-bg loginbtn">Register</button>
                    {% comment %} <a class="btn btn-default btn-block" href="#">Register</a> {% endcomment %}
                    <div></div>
                </form>
                </div>
              </div>
            </div>
          </div>
    </div>

  </div>


			<div class="text-center login-footer m-5">
				<p>Copyright © 2018. All rights reserved. Template by <a href="#">Tacklehubs</a></p>
			</div>
		</div>   
    </div>
    
    {% include 'dashboard/js.html' %}

    <script>

      $(document).ready(function(){
        $(".loginpanel-1").show()
        $(".loginpanel-2").hide()


        $('.loginbtn').click(function(){
          $(".loginpanel-2").hide();
          $(".loginpanel-1").fadeIn("slow");
        })


        $('.registerbtn').click(function(){
          $(".loginpanel-1").hide();
          $(".loginpanel-2").fadeIn("slow");
        })


          
        
      });

      

    </script>

    {% endblock content %}