{% extends 'dashboard/root.html' %}

{% block content %}

<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
          <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences" role="tab" aria-selected="false">Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#demographics" role="tab" aria-selected="false">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab" aria-selected="false">USSD</a>
                    </li>
                </ul>
                <div>
                <div class="btn-wrapper">
                    <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                    <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                    <a href="#" class="btn btn-primary text-white me-0 addnew"><i class="icon-plus"></i> Add New</a>
                </div>
                </div>
            </div>
          </div>
        </div>
    </div>



    <div class="col-lg-12 grid-margin stretch-card mt-3"> 
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Event Categories</h4>
        
        <div class="table-responsive">
          <table class="table " id="example1">
            
            <thead>
              <tr>
                <th>Category</th>
                <th>Price</th>
                <th>Event</th>
                <th>Date Created</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{category.category_name}}</td>
                        <td>{{category.price}}</td>
                        <td>{{category.event}}</td>
                        <td>{{category.date_updated}}</td>
                        <td>
                            <button class=' btn-info btn-sm edit btn-flat' data-id='{{ event.id }}'><i class='mdi mdi-table-edit'></i></button>
                            <button class=' btn-danger btn-sm delete btn-flat' data-id='{{ event.id }}'><i class='mdi mdi-delete'></i> </button>
                        </td>
                    </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> 
</div>

{% endblock content %}



{% block modal %}

{% comment %} Add Modal {% endcomment %}

<div class="modal fade" id="addnew">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close closemodal" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><b>Add New Category</b></h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" method="POST" action="#">
                {% csrf_token %}
               
                <div class="modal-body">
                    {% for field in form  %}
                    <div class="form-group has-feedback">
                        <span class="text-danger">{{field.errors}}</span>
                        {{field.label_tag}}
                        {{field}}
                    </div>
                    {% endfor %}
  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-flat pull-left closemodal" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
              <button type="submit" class="btn btn-primary btn-flat" name="add"><i class="fa fa-save"></i> Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



{% endblock modal %}



{% block script %}
<script>

    $(".addnew").on("click", function(){
        //$(this).preventDefault();
        console.log("Clicked");
        $("#addnew").modal("show");
        
    })

    




</script>
{% endblock script %}