{% extends 'dashboard/root.html' %}

{% block content %}

<div class="content-wrapper">
    <div class="row">
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="{% url 'dashboard' %}" role="tab" aria-controls="overview" aria-selected="true">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="{% url 'dashboard_events' %}" role="tab" aria-selected="false">Event</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="{% url 'categories' %}" role="tab" aria-selected="false">Categories</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="{% url 'dashboard_ussd' %}" role="tab" aria-selected="false">USSD</a>
              </li>
              </ul>
            <div>
              <div class="btn-wrapper">
                <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
                <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
              </div>
            </div>
          </div>
          <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
              <div class="row">
                <div class="col-sm-12">
                  <div class="statistics-details d-flex align-items-center justify-content-between">
                    
                  </div>
                </div>
              </div> 
              
                
              <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title"> Profile </h4>
                      <canvas id="lineChart"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Bank Details </h4>
                      

                      <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'dashboard_events' %}">
                        {% csrf_token %}
                      
                            {% for field in form  %}
                            <div class="form-group has-feedback">
                                <span class="text-danger">{{field.errors}}</span>
                                {{field.label_tag}}
                                {{field}}
                            
                            {% endfor %}
          
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default btn-flat pull-left closemodal" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                      <button type="submit" class="btn btn-primary btn-flat" name="add"><i class="fa fa-save"></i> Save</button>
                    </div>

                      
                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>


    
  </div>

{% endblock content %}