{% load static %}
<header class="site-header">
    
    {% include 'navbar.html' %}
    <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url('static/images/header-bg.jpg') no-repeat">
                <div class="hero-content">
                    <div class="container">
                        <div class="row">
                            <div class="col flex flex-column justify-content-center">
                                <div class="entry-header">
                                    <div id="countdown" class="countdown flex align-items-center">
                                        <div class="countdown-holder flex align-items-baseline">
                                            <span id="dday"></span>
                                            <label>Days</label>
                                        </div><!-- .countdown-holder -->

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span id="dhour"></span>
                                            <label>Hours</label>
                                        </div><!-- .countdown-holder -->

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span id="dmin"></span>
                                            <label>Minutes</label>
                                        </div><!-- .countdown-holder -->

                                        <div class="countdown-holder flex align-items-baseline">
                                            <span id="dsec"></span>
                                            <label>Seconds</label>
                                        </div><!-- .countdown-holder -->
                                    </div><!-- .countdown --> 

                                    <h2 class="entry-title">We have the best events. <br>Get your tiket now!</h2>
                                </div><!--- .entry-header -->

                                <div class="entry-footer">
                                    <a class="btn gradient-bg" href="{% url 'events' %}">Buy Tickets</a>
                                </div><!-- .entry-footer" -->
                            </div><!-- .col -->
                        </div><!-- .container -->
                    </div><!-- .hero-content -->
                </div><!-- .swiper-slide -->
            </div><!-- .swiper-wrapper -->

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next flex justify-content-center align-items-center">
            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
        </div>

        <div class="swiper-button-prev flex justify-content-center align-items-center">
            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
        </div>
    </div><!-- .swiper-container -->
</header><!-- .site-header -->



<script>
    /*
    $(document).ready(function() {
      // Set the target date and time for the countdown
      const targetDate = new Date("2023-12-31T23:59:59").getTime();
    
      // Update the countdown every second
      const countdownInterval = setInterval(function() {
        const now = new Date().getTime();
        const timeRemaining = targetDate - now;
    
        if (timeRemaining > 0) {
          const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
          const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
          const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
    
          $("#countdown").html(`${days}d ${hours}h ${minutes}m ${seconds}s`);
        } else {
          clearInterval(countdownInterval);
          $("#countdown").html("Countdown expired!");
        }
      }, 1000);
    });
    */

    
        // Set the target date and time for the countdown
        const targetDate = new Date("2024-04-31T23:59:59").getTime();
    
        // Update the countdown every second
        const countdownInterval = setInterval(function() {
          const now = new Date().getTime();
          const timeRemaining = targetDate - now;
        
          if (timeRemaining > 0) {
            const days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
        
            //document.getElementById("countdown").innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`;
            document.getElementById("dday").innerHTML = days
            document.getElementById("dhour").innerHTML = hours
            document.getElementById("dmin").innerHTML = minutes
            document.getElementById("dsec").innerHTML = seconds
            
          } else {
            clearInterval(countdownInterval);
            document.getElementById("countdown").innerHTML = "Countdown expired!";
          }
        }, 1000);
        
    </script>