{% load static %}

<div class="header-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-10 col-lg-2 order-lg-1">
                <div class="site-branding">
                    <div class="site-title">
                        <a href="#"><img src="{% static 'images/tacklehubs_logo.png' %}" alt="logo"></a>
                    </div><!-- .site-title -->
                </div><!-- .site-branding -->
            </div><!-- .col -->

            <div class="col-2 col-lg-7 order-3 order-lg-2">
                <nav class="site-navigation">
                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->

                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/#about-us">About us</a></li>
                        {% comment %} <li><a href="#">Events</a></li> {% endcomment %}
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Login / Register</a></li>
                    </ul>
                </nav><!-- .site-navigation -->
            </div><!-- .col -->

            <div class="col-lg-3 d-none d-lg-block order-2 order-lg-3">
                <div class="buy-tickets">
                    <a class="btn gradient-bg" href="{% url 'events' %}">Buy Tickets</a>
                </div><!-- .buy-tickets -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
</div><!-- .header-bar -->