<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
    <body>
        
        {% block header %}
        {% endblock header %}


        {% block about %}
        {% endblock about %}

        {% block events %}
        {% endblock events %}


        {% block upcoming_events %}
        {% endblock upcoming_events %}

        {% block locations %}
        {% endblock locations %}


        {% block content %}
        {% endblock content %}


        {% include 'footer.html' %}
        
    </body>
</html>
