<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Tackle Hubs",
      "url": "https://tackletickets.org/",
      "logo": "https://i.ibb.co/GFCvLnL/tacklehubs-logo.png",
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+233245534524",
        "contactType": "customer service",
        "areaServed": "GH",
        "availableLanguage": ["en","Twi"]
      },{
        "@type": "ContactPoint",
        "telephone": "+233551327000",
        "contactType": "technical support",
        "areaServed": "GH",
        "availableLanguage": ["en","Twi"]
      }],
      "sameAs": "https://www.facebook.com/p/Tackle-Hubs-100078683659831/"
    }
    </script>