{% extends 'dashboard/root.html' %}

{% block content %}

<style>
  .content {
    padding: 20px;
  }

  .collapse-button {
    background-color: #4CAF50;
    /* Green background */
    color: white;
    /* White text */
    padding: 14px 20px;
    /* Some padding */
    border: none;
    /* No border */
    cursor: pointer;
    /* Add a pointer cursor on hover */
  }

  .collapse-content {
    display: none;
    /* Hide the content by default */
  }


  input,
  select {
    //border: 1px solid #962A5A;
    border-radius: 5px;
    padding: 5px;
    margin: 8px;
  }

  input[type="date"] {
    //background-color: #962A5A;
    outline: none;
    color: #000;
  }

  input[type="date"]::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
  }

  input[type="date"]::-webkit-inner-spin-button {
    height: 28px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 15px;

  }
</style>

<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="{% url 'dashboard' %}" role="tab"
                aria-controls="overview" aria-selected="true">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="{% url 'dashboard_events' %}" role="tab"
                aria-selected="false">Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="{% url 'categories' %}" role="tab"
                aria-selected="false">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="{% url 'dashboard_ussd' %}"
                role="tab" aria-selected="false">USSD</a>
            </li>
          </ul>
          <div>
            <div class="btn-wrapper">
              <a href="#" class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</a>
              <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
              <a href="#" class="btn btn-primary text-white me-0 addnew"><i class="icon-plus"></i> Add New</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="col-lg-12 grid-margin stretch-card mt-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">All Tickets</h4>

        <form method="POST" action="">
          <label for="from_date">From Date:</label>
          <input type="date" id="from_date">
          <label for="to_date">To Date:</label>
          <input type="date" id="to_date">

          <select id="event">
            <option value="" placeholder="Events">Select Event</option>
            {% for event in events %}
            <option value="{{event.id}}"> {{ event.event_name }} </option>
            {% endfor %}

          </select>

          <input type="text" id="event_id" placeholder="Event ID">

          <select id="category">
            <option value="" placeholder="category">Event Category</option>
            {% for category in categories %}
              <option value="{{ category.id }}">{{ category.category_name }}</option>
            {% endfor %}
          </select>

          <select id="payment">
            <option value="" placeholder="payment">Payment</option>
            <option value="verified">Verified</option>
            <option value="not_verified">Not Verified</option>
          </select>
        </form>

        <br><br>
         <b id="total_amount"></b><br><br>
        <b id="total_tickets"></b><br>


        <div class="table-responsive">
          <table class="table" id="example">

            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Amount</th>
                <th>Number of Tickets</th>
                <th>Registration ID</th>
                <th>Verified</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr>
                
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}



{% block modal %}


{% endblock modal %}



{% block script %}
<script>

  $(".addnew").on("click", function () {

    $("#addnew").modal("show");
  })


  $(".edit").on("click", function () {
    id = $(this).data('id')
    getRow(id)
    $("#edit").modal("show");
  })


  $(".delete").on("click", function () {
    id = $(this).data('id')
    getRow(id)
    $("#delete").modal("show");
  })


  $(document).on('change', '#from_date', function (e) {
    var from_date = $('#from_date').val();
    var to_date = $('#to_date').val();
    var event = $('#event').val();
    var event_id = $('#event_id').val();
    var payment = $('#payment').val();
    var category = $('#category').val();

    var dataObject = {
      from_date: from_date,
      to_date: to_date,
      event: event,
      event_id: event_id,
      payment: payment,
      category: category,
    }

    console.log(dataObject)

    $.ajax({
      type: 'POST',
      url: "{% url 'admin_TicketsReportById' %}",
      data: JSON.stringify(dataObject),
      contentType: "application/json",
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },

      success: function (data) {
        var total_tickets = 0;
        var total_amount = 0;
        $('#example').empty();
        $('#example').append("<tr><th>Name</th><th>Email</th><th>Phone Number</th><th>Amount</th><th>Number of Tickets</th><th>Registration ID</th><th>Verified</th><th>Date</th></tr>")
        $.each(data, function (key, value) {
          if (value.verify == true){
            total_amount += parseFloat(value.amount).toFixed(2)
            total_tickets += 1
          }
          amount = Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 })

          $('#example').append('<tr><td>' + value.name + '</td><td>' + value.email + '</td><td>' + value.phone_number + '</td><td>' + Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + value.number_of_tickets + '</td><td>' + value.registration_id + '</td><td>' + value.verify + '</td><td>' + value.date_created + '</td></tr>');
          
        });
        $('#example').append('<tr><td>' + 'Total' + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + total_tickets + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + '' + '</td></tr>');
        $('#total_amount').html('Total Amount' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 1 }))
        $('#total_tickets').html('Number of Tickets: ' +total_tickets)
      }
    })


  });



  $(document).on('change', '#to_date', function (e) {
    var from_date = $('#from_date').val();
    var to_date = $('#to_date').val();
    var event = $('#event').val();
    var event_id = $('#event_id').val();
    var payment = $('#payment').val();
    var category = $('#category').val();

    var dataObject = {
      from_date: from_date,
      to_date: to_date,
      event: event,
      event_id: event_id,
      payment: payment,
      category: category,
    }

    console.log(dataObject)

    $.ajax({
      type: 'POST',
      url: "{% url 'admin_TicketsReportById' %}",
      data: JSON.stringify(dataObject),
      contentType: "application/json",
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },


      success: function (data) {
        var total_tickets = 0;
        var total_amount = 0;
        $('#example').empty();
        $('#example').append("<tr><th>Name</th><th>Email</th><th>Phone Number</th><th>Amount</th><th>Number of Tickets</th><th>Registration ID</th><th>Verified</th><th>Date</th></tr>")
        $.each(data, function (key, value) {
          if (value.verify == true){
            total_amount += parseFloat(value.amount).toFixed(2)
            total_tickets += 1
          }
          amount = Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 })

          $('#example').append('<tr><td>' + value.name + '</td><td>' + value.email + '</td><td>' + value.phone_number + '</td><td>' + Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + value.number_of_tickets + '</td><td>' + value.registration_id + '</td><td>' + value.verify + '</td><td>' + value.date_created + '</td></tr>');
          
        });
        $('#example').append('<tr><td>' + 'Total' + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + total_tickets + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + '' + '</td></tr>');
        $('#total_amount').html('Total Amount' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 1 }))
        $('#total_tickets').html('Number of Tickets: ' +total_tickets)
      }
    })

  });



  $(document).on('change', '#event', function (e) {
    var from_date = $('#from_date').val();
    var to_date = $('#to_date').val();
    var event = $('#event').val();
    var event_id = $('#event_id').val();
    var payment = $('#payment').val();
    var category = $('#category').val();

    var dataObject = {
      from_date: from_date,
      to_date: to_date,
      event: event,
      event_id: event_id,
      payment: payment,
      category: category,
    }

    console.log(dataObject)

    $.ajax({
      type: 'POST',
      url: "{% url 'admin_TicketsReportById' %}",
      data: JSON.stringify(dataObject),
      contentType: "application/json",
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },


      success: function (data) {
        var total_tickets = 0;
        var total_amount = 0;
        $('#example').empty();
        $('#example').append("<tr><th>Name</th><th>Email</th><th>Phone Number</th><th>Amount</th><th>Number of Tickets</th><th>Registration ID</th><th>Verified</th><th>Date</th></tr>")
        $.each(data, function (key, value) {
          if (value.verify == true){
            total_amount += parseFloat(value.amount).toFixed(2)
            total_tickets += 1
          }
          amount = Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 })

          $('#example').append('<tr><td>' + value.name + '</td><td>' + value.email + '</td><td>' + value.phone_number + '</td><td>' + Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + value.number_of_tickets + '</td><td>' + value.registration_id + '</td><td>' + value.verify + '</td><td>' + value.date_created + '</td></tr>');
          
        });
        $('#example').append('<tr><td>' + 'Total' + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + total_tickets + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + '' + '</td></tr>');
        $('#total_amount').html('Total Amount' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 1 }))
        $('#total_tickets').html('Number of Tickets: ' +total_tickets)
      }
    })

  });





  $(document).on('keyup', '#event_id', function (e) {
    var from_date = $('#from_date').val();
    var to_date = $('#to_date').val();
    var event = $('#event').val();
    var event_id = $('#event_id').val();
    var payment = $('#payment').val();
    var category = $('#category').val();

    var dataObject = {
      from_date: from_date,
      to_date: to_date,
      event: event,
      event_id: event_id,
      payment: payment,
      category: category,
    }

    console.log(dataObject)

    $.ajax({
      type: 'POST',
      url: "{% url 'admin_TicketsReportById' %}",
      data: JSON.stringify(dataObject),
      contentType: "application/json",
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },


      success: function (data) {
        var total_tickets = 0;
        var total_amount = 0;
        $('#example').empty();
        $('#example').append("<tr><th>Name</th><th>Email</th><th>Phone Number</th><th>Amount</th><th>Number of Tickets</th><th>Registration ID</th><th>Verified</th><th>Date</th></tr>")
        $.each(data, function (key, value) {
          if (value.verify == true){
            total_amount += parseFloat(value.amount).toFixed(2)
            total_tickets += 1
          }
          amount = Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 })

          $('#example').append('<tr><td>' + value.name + '</td><td>' + value.email + '</td><td>' + value.phone_number + '</td><td>' + Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + value.number_of_tickets + '</td><td>' + value.registration_id + '</td><td>' + value.verify + '</td><td>' + value.date_created + '</td></tr>');
          
        });
        $('#example').append('<tr><td>' + 'Total' + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + total_tickets + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + '' + '</td></tr>');
        $('#total_amount').html('Total Amount' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 1 }))
        $('#total_tickets').html('Number of Tickets: ' +total_tickets)
      }
    })

  });




  $(document).on('change', '#payment', function (e) {
    var from_date = $('#from_date').val();
    var to_date = $('#to_date').val();
    var event = $('#event').val();
    var event_id = $('#event_id').val();
    var payment = $('#payment').val();
    var category = $('#category').val();

    var dataObject = {
      from_date: from_date,
      to_date: to_date,
      event: event,
      event_id: event_id,
      payment: payment,
      category: category,
    }

    console.log(dataObject)

    $.ajax({
      type: 'POST',
      url: "{% url 'admin_TicketsReportById' %}",
      data: JSON.stringify(dataObject),
      contentType: "application/json",
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },


      success: function (data) {
        var total_tickets = 0;
        var total_amount = 0;
        $('#example').empty();
        $('#example').append("<tr><th>Name</th><th>Email</th><th>Phone Number</th><th>Amount</th><th>Number of Tickets</th><th>Registration ID</th><th>Verified</th><th>Date</th></tr>")
        $.each(data, function (key, value) {
          if (value.verify == true){
            total_amount += parseFloat(value.amount).toFixed(2)
            total_tickets += 1
          }
          amount = Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 })

          $('#example').append('<tr><td>' + value.name + '</td><td>' + value.email + '</td><td>' + value.phone_number + '</td><td>' + Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + value.number_of_tickets + '</td><td>' + value.registration_id + '</td><td>' + value.verify + '</td><td>' + value.date_created + '</td></tr>');
          
        });
        $('#example').append('<tr><td>' + 'Total' + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + total_tickets + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + '' + '</td></tr>');
        $('#total_amount').html('Total Amount' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 1 }))
        $('#total_tickets').html('Number of Tickets: ' +total_tickets)
      }
    })

  });



  $(document).on('change', '#category', function (e) {
    var from_date = $('#from_date').val();
    var to_date = $('#to_date').val();
    var event = $('#event').val();
    var event_id = $('#event_id').val();
    var payment = $('#payment').val();
    var category = $('#category').val();

    var dataObject = {
      from_date: from_date,
      to_date: to_date,
      event: event,
      event_id: event_id,
      payment: payment,
      category: category,
    }

    console.log(dataObject)

    $.ajax({
      type: 'POST',
      url: "{% url 'admin_TicketsReportById' %}",
      data: JSON.stringify(dataObject),
      contentType: "application/json",
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },


      success: function (data) {
        var total_tickets = 0;
        var total_amount = 0;
        $('#example').empty();
        $('#example').append("<tr><th>Name</th><th>Email</th><th>Phone Number</th><th>Amount</th><th>Number of Tickets</th><th>Registration ID</th><th>Verified</th><th>Date</th></tr>")
        $.each(data, function (key, value) {
          if (value.verify == true){
            total_amount += parseFloat(value.amount).toFixed(2)
            total_tickets += 1
          }
          amount = Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 })

          $('#example').append('<tr><td>' + value.name + '</td><td>' + value.email + '</td><td>' + value.phone_number + '</td><td>' + Number(parseFloat(value.amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + value.number_of_tickets + '</td><td>' + value.registration_id + '</td><td>' + value.verify + '</td><td>' + value.date_created + '</td></tr>');
          
        });
        $('#example').append('<tr><td>' + 'Total' + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 2 }) + '</td><td>' + total_tickets + '</td><td>' + '' + '</td><td>' + '' + '</td><td>' + '' + '</td></tr>');
        $('#total_amount').html('Total Amount' + Number(parseFloat(total_amount)).toLocaleString("en", { minimumFractionDigits: 1 }))
        $('#total_tickets').html('Number of Tickets: ' +total_tickets)
      }
    })

  });

</script>
{% endblock script %}