{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tackle Tickets </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'dashboard/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/vendors/simple-line-icons/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page C:\Users\user\Desktop\Work\tacklehubs-project\ticketting\static\dashboard\vendors\datatables.net-bs\css\dataTables.bootstrap.css -->
  <link rel="stylesheet" href="{% static 'dashboard/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'dashboard/js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'dashboard/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'dashboard/images/favicon.png' %}" />

  <link href="{% static 'toastr/toastr.min.css' %}" rel="stylesheet">
</head>