{% load static %}

<script src="{% static 'dashboard/vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/jquery-ui/jquery-ui.min.js' %}"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-number/2.1.6/jquery.number.min.js"></script>
<!-- plugins:js -->
<script src="{% static 'dashboard/vendors/js/vendor.bundle.base.js' %}"></script>

<!-- DataTables -->
<script src="{% static 'dashboard/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>


<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'dashboard/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/progressbar.js/progressbar.min.js' %}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'dashboard/js/off-canvas.js' %}"></script>
<script src="{% static 'dashboard/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'dashboard/js/template.js' %}"></script>
<script src="{% static 'dashboard/js/settings.js' %}"></script>
<script src="{% static 'dashboard/js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script src="{% static 'dashboard/js/Chart.roundedBarCharts.js' %}"></script>
<!-- End custom js for this page-->

<!-- Toaster-->
<script src="{% static 'toastr/toastr.min.js' %}"></script>


  {% if messages %}
      {% for message in messages  %}

        <script>
            toastr.{{ message.tags }}('{{ message }}', '{{ message.tags|title }}');
        </script>

      {% endfor %}

  {% endif %}





  
   
  