<!DOCTYPE html>
<html lang="en">


<body>
  {% include 'dashboard/head.html' %}

  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->


    {% comment %} Navbar {% endcomment %}
    {% include 'dashboard/navbar.html' %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      {% comment %} Settings Pannel {% endcomment %}
      {% comment %} {% include 'dashboard/settings.html' %} {% endcomment %}


      {% comment %} Partial Sidebar {% endcomment %}
      {% comment %} <!-- partial --> {% endcomment %}
      {% include 'dashboard/sidebar.html' %}

      <div class="main-panel">

        <!-- content-wrapper ends -->

        {% block content %}
        {% endblock content %}
        <!-- partial:partials/_footer.html -->


        {% comment %} { footer } {% endcomment %}
        {% include 'dashboard/footer.html' %}


        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  {% block modal %}
  {% endblock modal %}

  {% include 'dashboard/js.html' %}

  <script>

    $(".closemodal").on("click", function () {
      $("#addnew").modal("hide");
      $("#delete").modal("hide");
      $("#edit").modal("hide");

    })

  </script>




  <script>

    $(document).ready(function () {
      $('#example1').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    });


    $(document).ready(function () {
      $('#example2').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    });

    $(document).ready(function () {
      $('#example3').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    });
  </script>



  <script>
    {% if messages %}
    {% for message in messages %}
    <script>
      toastr.{{ message.tags }}('{{ message }}', '{{ message.tags | title }}');
  </script>
  {% endfor %}
  {% endif %}
  </script>



  {% block script %}
  {% endblock script %}
</body>

</html>