{% load static %}

<!-- partial -->

<style>
  .sidebar .menu-title{
    font-size: 1rem;
    background-color: "#9A49C4";
  }

  #sidebar > ul{
    padding: 0.5rem 0;
    font-size: 0.8rem;
    list-style: none !important;
  }


  #sidebar > ul > li > a > span{
    font-size: 0.8rem;
  }


  #ui-basic > ul > li{
    padding: 0.5rem 0;
    font-size: 0.8rem;
    list-style-type: none !important;
  }


</style>

  <!-- partial -->
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    {% if request.user.is_superuser %}
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administration' %}">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      
      <li class="nav-item nav-category"> Event</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-floor-plan"></i>
          <span class="menu-title">Event</span>
          <i class="menu-arrow"></i> 
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'admin_dashboard_events' %}">Events</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'admin_categories' %}">Categories</a></li>
            {% comment %} <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li> {% endcomment %}
          </ul>
        </div>
      </li>


      <li class="nav-item nav-category">USSD Option</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="menu-icon mdi mdi-card-text-outline"></i>
          <span class="menu-title">USSD</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'admin_dashboard_ussd' %}">Request USSD</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item nav-category">Ticket Reservations</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#booking-elements" aria-expanded="false" aria-controls="booking-elements">
          <i class="menu-icon mdi mdi-card-text-outline"></i>
          <span class="menu-title">Tickets</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="booking-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'admin_ticket_reservations' %}">All Tickets</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item nav-category">Account</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="menu-icon mdi mdi-account-circle-outline"></i>
          <span class="menu-title"></span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          {% comment %} <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'profile' %}">My Profile </a></li>
          </ul> {% endcomment %}
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}"> Logout </a></li>
          </ul>
        </div>
      </li>
    </ul>
    {% else %}
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      
      <li class="nav-item nav-category"> Event</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-floor-plan"></i>
          <span class="menu-title">Event</span>
          <i class="menu-arrow"></i> 
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'dashboard_events' %}">Events</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'categories' %}">Categories</a></li>
            {% comment %} <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li> {% endcomment %}
          </ul>
        </div>
      </li>


      <li class="nav-item nav-category">USSD Option</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="menu-icon mdi mdi-card-text-outline"></i>
          <span class="menu-title">USSD</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard_ussd' %}">Request USSD</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item nav-category">Ticket Reservations</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#booking-elements" aria-expanded="false" aria-controls="booking-elements">
          <i class="menu-icon mdi mdi-card-text-outline"></i>
          <span class="menu-title">Tickets</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="booking-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="{% url 'ticket_reservations' %}">All Tickets</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item nav-category">Account</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="menu-icon mdi mdi-account-circle-outline"></i>
          <span class="menu-title"></span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'profile' %}">My Profile </a></li>
          </ul>
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}"> Logout </a></li>
          </ul>
        </div>
      </li>
    </ul>
    {% endif %}
  </nav>


