
{% load static %}

{% block events %}
    <div class="homepage-featured-events">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% for event in events %}
                    
                    <div class="featured-events-wrap flex flex-wrap justify-content-between">
                        
                        <div class="event-content-wrap positioning-event-{{event.id}}">
                            <figure>
                                <a href="{% url 'event' event.id event.slug %}"><img src={{media_url}}{{event.picture}} alt="1">
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">{{ event.event_name }}</h3>

                                <div class="posted-date">{{ event.event_date }}</div>
                            </header>
                        </a>
                        </div>

                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock events %}     