
{% load static %}

{% block events %}
    <div class="homepage-featured-events">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="featured-events-wrap flex flex-wrap justify-content-between">
                        
                        <div class="event-content-wrap positioning-event-1">
                            <figure>
                                <a href="#"><img src="images/1.jpg" alt="1"></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Michael Smith in concert</h3>

                                <div class="posted-date">August 25</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-2">
                            <figure>
                                <a href="#"><img src="images/2.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Street art fest</h3>

                                <div class="posted-date">November 28</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-3">
                            <figure>
                                <a href="#"><img src="images/3.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Anabelle in concert</h3>

                                <div class="posted-date">August 28</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-4 half">
                            <figure>
                                <a href="#"><img src="images/events-in-london.jpg" alt=""></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-5 half">
                            <figure>
                                <a href="#"><img src="images/check-july.png" alt=""></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-6 half">
                            <figure>
                                <a href="#"><img src="images/summer-festivals.jpg" alt=""></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-7">
                            <figure>
                                <a href="#"><img src="images/90.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">90’s Disco Night</h3>

                                <div class="posted-date">August 28</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-8">
                            <figure>
                                <a href="#"><img src="images/modern.jpg" alt="1"></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Modern Ballet</h3>

                                <div class="posted-date">August 25</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-9">
                            <figure>
                                <a href="#"><img src="images/smoke.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3 class="entry-title">Smoke show</h3>

                                <div class="posted-date">August 28</div>
                            </header>
                        </div>

                        <div class="event-content-wrap positioning-event-10 half">
                            <figure>
                                <a href="#"><img src="images/summer-festival.jpg" alt=""></a>
                            </figure>
                        </div>

                        <div class="event-content-wrap positioning-event-11 half">
                            <figure>
                                <a href="#"><img src="images/autumn.jpg" alt=""></a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock events %}     