{% extends 'root.html' %}
{% load static %}




{% block header %}
    {% include 'header.html' %}
{% endblock header %}




{% comment %} {% block about %}
    {% include 'tickets/home/about.html' %}
{% endblock about %} {% endcomment %}


{% comment %} {% block events %}
    {% include 'tickets/home/events.html' %}
{% endblock events %} {% endcomment %}


{% block upcoming_events %}
    {% include 'tickets/home/upcoming_events.html' %}
{% endblock upcoming_events %}


{% comment %} {% block locations %}
    {% include 'tickets/home/locations.html' %}
{% endblock locations %} {% endcomment %}


{% block content %}
    {% include 'tickets/home/why_choose_us.html' %}
{% endblock content %}