{% load static %}


<div class="newsletter-subscribe">
    <div class="container"> 
        <h3 style="font-size:3.5rem">Why Choose Us</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="contact-location-details">
                    <h4 class="entry-title" style="color: #fff; font-size: 2rem">Easy Booking</h4>
    
                    <div class="entry-content">
                        <p style="color: #fff">
                            We prioritize simplicity and convenience when it comes to booking tickets. 
                            Our user-friendly interface allows you to browse events, select your preferred tickets, 
                            and complete the booking process seamlessly. 
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-md-6 col-lg-4">
                <div class="contact-location-details">
                    <h2 class="entry-title" style="color: #fff; font-size: 2rem">Security</h2>
    
                    <div class="entry-content">
                        <p style="color: #fff">We understand the importance of online security and strive to provide a safe 
                            ticketing experience. Our platform utilizes robust security measures to protect your personal 
                            information and ensure secure transactions. 
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-md-6 col-lg-4">
                <div class="contact-location-details">
                    <h2 class="entry-title" style="color: #fff; font-size: 2rem"> Customer Support</h2>
    
                    <div class="entry-content">
                        <p style="color: #fff">
                            Our dedicated customer support team is here to assist you every step of the way. 
                            Whether you have a question about an event, need help with your booking, or require any additional information, 
                            our friendly support staff is just a message or call away.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
