{% load static %}


<div class="newsletter-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="contact-location-details">
                    <h2 class="entry-title">New York</h2>
    
                    <div class="entry-content">
                        <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et.</p>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-md-6 col-lg-4">
                <div class="contact-location-details">
                    <h2 class="entry-title">Miami</h2>
    
                    <div class="entry-content">
                        <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et.</p>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-md-6 col-lg-4">
                <div class="contact-location-details">
                    <h2 class="entry-title">Los Angeles</h2>
    
                    <div class="entry-content">
                        <p>Vestibulum eget lacus at mauris sagittis varius. Etiam ut venenatis dui. Nullam tellus risus, pellentesque at facilisis et.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
