{% load static %}


<div class="newsletter-subscribe">
    <div class="container"> 
        <h3 style="font-size:2rem">Why Choose Us</h2>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4">
                <div class="contact-location-details">
                    <h4 class="entry-title" style="color: #fff; font-size: 1.5rem">Easy Booking</h4>
                    <div class="entry-content">
                        <p style="color: #fff">
                            We prioritize simplicity and convenience when it comes to booking tickets. 
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-md-4 col-lg-4">
                <div class="contact-location-details">
                    <h2 class="entry-title" style="color: #fff; font-size: 1.5rem">Security</h2>
    
                    <div class="entry-content">
                        <p style="color: #fff">We understand the importance of online security and strive to provide a safe 
                            ticketing experience. 
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-md-4 col-lg-4">
                <div class="contact-location-details">
                    <h2 class="entry-title" style="color: #fff; font-size: 1.5rem"> Customer Support</h2>
    
                    <div class="entry-content">
                        <p style="color: #fff">
                            Our dedicated customer support team is here to assist you every step of the way. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
